<h1>Hello {{{title}}}</h1>
{{#if unauthenticated}}
<a href='/login'>Login</a>
{{else}}
<a href='/profile/{{userid}}'>Profile</a>
{{/if}}

<h2>LaTeX Test:</h2>
{{{latex}}}

<!-- No one must know about the ultra cursed math stored at /secret -->