{{#if unauthenticated}}
<h1>Hello new user</h1>
<h2>Welcome to Gaußbook</h2>
<a href='/login'>Login</a>
{{else}}
<h1>Hello {{{title}}}</h1>
<a href='/profile/{{userid}}'>Profile</a>
{{/if}}

<br>
<br>
{{{latex}}}

<!-- No one must know about the ultra cursed math stored at /secret -->