<h1>Login</h1>

<i>{{error}}</i>

<form action="/authenticate" method="post">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" autofocus><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>

<a href='/register'>Register a new user.</a>