<h1>Hello {{username}}</h1>
<a href="/upload/latex">Upload LaTeX.</a>
<a href="/profile/{{userid}}/latex">View your LaTeX.</a>
<a href="/profile/{{userid}}/message">Send a message.</a>
<a href="/profile/{{userid}}/messages">View your messages.</a>
<a href="/logout">Logout.</a>